@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  @include ag-theme-alpine(
    (
      font-size: 12px,
      grid-size: 5px,
      row-height: 20px,
      header-height: 24px,
    )
  );
  .ag-column-drop-horizontal {
    height: 25px;
  }
  .ag-row {
    font-size: 12px;
  }
  // .ag-header {
  //     // or write CSS selectors to make customisations beyond what the parameters support
  //     text-style: italic;
  // }
}
